body {
  background: green;
  text-align: center;
}

td {
  border-color: white;
}

p {
  background-color: black;
}
table, td, th {
  border: 1px solid white;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.wrap {
  flex-wrap: wrap;
  height: 750px;
  width: 750px;
}

.container {
align-items: center;
}
